.header {
    /*height: 60px;*/
    margin: 0 auto;
    padding: 0 0 0 0;
    box-sizing: border-box;
    border-bottom: 2px solid grey;
}

.headerContent {

}

.headerElements {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    justify-content: space-around;
    /*width: 250px;*/
}



.cart, .account, .wishes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.right {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.right button {
    margin: 5px;
}

.profile {
    padding: 0 10px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;

}


.profile:hover {
    background-color: rgba(192, 192, 192, 0.35);
}

.cart {
    border-right: 1px solid #000;

}
.cart, .wishes {
    width: 80px;
    border-left: 1px solid #000;
}

.cart:hover {
    background-color: rgba(192, 192, 192, 0.35);
}

.wishes:hover {
    background-color: rgba(192, 192, 192, 0.35);
}

.article {
    width: 250px;
    margin-right: 20px;
}

.article:hover {
    cursor: default;
    color: #000000;
    opacity: 1;
}

.signOut {
    display: flex;
    justify-content: end;
    width: 70px;
}